.header {
    text-align: center;
    padding: 3rem;
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

h1{
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h2,
p {
    margin-top: 1.5rem;
}