@use 'variaveis';

body {
    background-color: variaveis.$corPrincipal;
}

header {
    background-color: variaveis.$corSecundaria;
}

footer {
    background-color: variaveis.$corSecundaria;
}